---
description: Verify your email to unlock referrals.
icon: at
---

# Email verification

### Step 1: On the Settings tab, click on the "Verify Email" button

<figure><img src="../.gitbook/assets/verify email.png" alt="" width="375"><figcaption></figcaption></figure>

### Step 2: Enter the 6-digits "verification code" that would be sent to your email.

<figure><img src="../.gitbook/assets/mail (1).png" alt="" width="375"><figcaption></figcaption></figure>

### Upon submitting the verification code, your email would be verified.&#x20;

<figure><img src="../.gitbook/assets/verified.png" alt="" width="375"><figcaption></figcaption></figure>
